/*
 Author: talk2presh
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
/*css menu */
.menu{
    text-align: center;
    border-bottom: 1px solid rgb(213, 203, 203);;
}
.menu ul{
    list-style-type: none
}   
.menu ul li{
        display:inline;
        padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(96, 90, 90);
    font-weight: bold;
}
.menu ul li a:hover{
    color: black;
}
/*css main-content*/
.main-content{
    padding: 2% 0;
    background-color: rgb(246, 243, 243);
}
.col-4{
    width: 15%;
    background-color: #fff;
    margin: 1%;
    padding: 4%;
    border-radius: 20px;
    float: left;
}

/* css footer */
.footer{
    background-color: rgb(63, 61, 61);
    color: #fff;
}